@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    color: hsl(0, 0%, 100%);
}


.main-wrapper {
    width: 100%;
    box-sizing: border-box;
    max-width: 70%;
    margin: 100px auto 0px auto;
    background-color: hsl(213, 19%, 18%);
    padding: 20px;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .main-wrapper {
        width: 100%;
        box-sizing: border-box;
        max-width: 90%;
        margin: 100px auto 0px auto;
        background-color: hsl(213, 19%, 18%);
        padding: 20px;
        border-radius: 20px;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .main-wrapper {
        width: 100%;
        max-width: 90%;
        padding: 30px;
    }
}

.icon-star {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
    background-color: hsla(217, 12%, 63%, 0.089);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .icon-star {
        width: 35px;
        height: 35px;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .icon-star {
        width: 45px;
        height: 45px;
    }
}

.icon-star img {
    object-fit: cover;
    width: 40%;
    height: 40%;
}

@media screen and (max-width: 600px) {
    .icon-star img {
        object-fit: cover;
        width: 40%;
        height: 40%;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .icon-star img {
        object-fit: cover;
        width: 40%;
        height: 40%;
    }
}

.headline h2 {
    margin-bottom: 10px;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .headline h2 {
        font-size: 25px;
        font-weight: 600;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .headline h2 {
        font-size: 30px;
        font-weight: 600;
    }
}

.feedback p {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.4;
}

@media screen and (max-width: 600px) {
    .feedback p {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.6;
        color: hsl(217, 12%, 63%);
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .feedback p {
        font-weight: 600;
        font-size: 17px;
        line-height: 1.6;
    }
}

.rating-buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
    .rating-buttons {
        gap: 20px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .rating-buttons {
        gap: 50px;
        margin-bottom: 30px;
    }
}

.rating-buttons > * {
    border-radius: 100%;
    font-size: 19px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    color: hsl(217, 12%, 63%);
    background-color: hsla(216, 12%, 54%, 0.123);
    margin-right: 10px;
    padding: 35% 0px;
}

@media screen and (max-width: 600px) {
    .rating-buttons > * {
        padding: 35% 0px;
        font-size: 15px;
        margin-right: 0px;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .rating-buttons > * {
        padding: 35% 0px;
        font-size: 17px;
        margin-right: 0px;
    }
}

.rating-buttons > *:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
}

.active-button {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.submit-button {
    margin-bottom: 10px;
}

.submit-button button {
    width: 100%;
    border-radius: 35px;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    height: 70px;
    color: inherit;
    background-color: hsl(25, 97%, 53%);
    letter-spacing: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
    .submit-button button {
        font-size: 14px;
        height: 50px;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .submit-button button {
        font-size: 15px;
        height: 60px;
    }
}


.submit-button button:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    font-weight: 700;
    height: 40px;
}

.feedback-message {
    margin: 20px 0;
    text-align: center;
    display: none;
}

@media screen and (max-width: 600px) {
    .feedback-message {
        margin: 20px 0;
        padding: 0px;
    }
}

.feedback-img {
    width: max-content;
    height: auto;
    margin: 0 auto 20px auto;
}

@media screen and (max-width: 600px) {
    .feedback-img {
        width: 220px;
        height: auto;
        margin: 0 auto 20px auto;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .feedback-img {
        width: 220px;
        height: auto;
        margin: 0 auto 20px auto;
    }
}

.feedback-img img {
    width: 90%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .feedback-img img {
        width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .feedback-img img {
        width: 100%;
    }
}

.feedback-rating {
    width: max-content;
    background-color: hsla(216, 12%, 54%, 0.123);
    margin: 0 auto;
    border-radius: 25px;
    margin-bottom: 25px;
    box-sizing: border-box;
    font-weight: 600;
}

.feedback-rating p {
    padding: 4px 15px;
    color: hsla(25, 97%, 53%, 0.815);
    font-size: 24px;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .feedback-rating p {
        padding: 10px 20px;
        font-size: 20px;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .feedback-rating p {
        font-size: 22px;
        padding: 10px 20px;
    }
}

.feedback-message .thank-you {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
    .feedback-message .thank-you {
        font-size: 30px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .feedback-message .thank-you {
        font-size: 35px;
        margin-bottom: 20px;
    }
}

.feedback-wrapper {
    display: block;
}

.appreciate-msg p {
    padding: 0px 2px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;
    color: hsl(217, 12%, 63%);
}

@media screen and (max-width: 600px) {
    .appreciate-msg p {
        padding: 0px;
        font-size: 15px;
        font-weight: 500;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .appreciate-msg p {
        padding: 0px;
        font-size: 20px;
        font-weight: 500;
    }
}


.attribution {
    margin-top: 20px;
}